{% extends "layout.html" %}
{% block content %}
<body>

  <div class="container-fluid">
    <div class="row"><br/></div>
      <div class="row">
         <div class="col">
  
              <h3>Scanned Documents</h3>
              
              
            <!-- <table id="dtDocuments" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">-->
              <table id="dtDocuments" class="table  table-hover " cellspacing="0"> 
              <thead>
                  <tr>
                    <th scope="col">Name
                    </th>
                    <th scope="col">Size
                    </th>
                    <th scope="col">Date
                    </th>
                    <th scope="col">View
                    </th>
                  
                  </tr>
                </thead>
           
                <tbody>

                  {% for pdf in liste %}

                  <tr>
                    <td>{{pdf["name"]}}</td>
                    <td>{{pdf["size"]}}</td>
                    <td>{{pdf["date"]}}</td>
                    <td>
                
                      <span class="table-view">
                        <button type="button" id="{{pdf["name"]}}" class="btn btn-primary btn-rounded btn-sm px-3" data-toggle="tooltip" data-placement="bottom"
                        title="Document preview">
                          <i class="fas fa-eye"></i>
                        </button>
                      </span>
                </td>
                    
                  </tr>

                  {% endfor %} 
                
                </tbody>

              </table>
  
  </div>
  <div class="col" id="embedpdf" >
  
     
              <form action="/" method="POST">
              
              
              <h3>Edit and move</h3>
              
              <div class="row">
              <div class="col-6">
              <div class="form-outline">
                <input type="hidden" class="form-control" id="inputiterator" name="inputiterator" value="">
              <input type="hidden" class="form-control" id="oldtitle" name="oldpdf" value="">
              <input type="hidden" id="folder" name="folder" value="unknown">
              <input type="text" id="edittitle" class="form-control" name="pdf" value=""/>

              </div>
              </div>
              <div class="col-2"> 
   
              
                
             <button type="button" class="btn btn-primary btn-sm" id="select" data-toggle="modal" data-target="#myModal2" data-toggle="tooltip" data-placement="bottom"
                  title="select folder"><i class="fas fa-folder"></i></button>
              
            
              
              </div>
              
              <div class="col-2">
    
                <button type="submit" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="bottom"
                title="Edit document title"><i class="fas fa-check"></i></button>

              </div>
              </div>
              </form>  


<hr>
              
              <!--  <a href="/ScanDocument"> <button type="submit" class="btn btn-primary btn-sm" id="filter"><i class="fas fa-filter"></i></button></a>-->
                  <button type="submit" class="btn btn-primary btn-sm" id="next" data-toggle="tooltip" data-placement="bottom"
                  title="Preview next document"><i class="fas fa-angle-double-right"></i></button>
                  <button type="submit" class="btn btn-primary btn-sm" id="magic" data-toggle="tooltip" data-placement="bottom"
                  title="OCR-Scan and set keywords for autoscan"><i class="fas fa-magic"></i></button>
                  <button type="submit" class="btn btn-primary btn-sm" id="rotate" data-toggle="tooltip" data-placement="bottom"
                  title="Rotate document 180"><i class="fas fa-redo"></i></button>
                  <button type="submit" class="btn btn-primary btn-sm" id="download" data-toggle="tooltip" data-placement="bottom"
                  title="Download document"><i class="fas fa-download"></i></button>
                  <button type="button" class="btn btn-primary btn-sm" id="del" data-toggle="modal" data-target="#myModal" data-toggle="tooltip" data-placement="bottom"
                  title="Delete this document"><i class="fas fa-trash"></i></button>
                  <embed id="embed" src="./static/pdf/unknown/{{preview}}" width="100%" height="700px" alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">
              
  </div>
      </div>

      <!-- File Delete Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Delete file?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              This file will be permanently deleted and cannot be recovered.<br/> Are you sure?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
              <button type="button" id="dodel" class="btn btn-primary btn-sm">Save changes</button>
            </div>
          </div>
        </div>
      </div>
      
      
        
      
      <!-- TreeView Modal -->
      <div class="modal fade" id="myModal2" tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Select folder</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              
              <div class="treeview">
                
                <ul class="mb-1 pl-3 pb-2">
              
						<!--subdirhtml  
            
              TODO unknown und .

            -->

            <li><i class="fas fa-angle-right rotate"></i>
              <span><i class="far fa-folder-open ic-w mx-1"></i><a href="javascript:void(0)" onClick="selectfolder('unknown');">Unknown</a></span>
              <ul class="nested">
                </ul>
                </li>

                <li><i class="fas fa-angle-right rotate"></i>
                  <span><i class="far fa-folder-open ic-w mx-1"></i><a href="javascript:void(0)" onClick="selectfolder('/Archiv/');">Main archiv folder</a></span>
                  <ul class="nested">
                    </ul>
                    </li>
            
                  <hr>
          

            {{ subdirhtml|safe }}
       
          



          </ul></div>
          </div>
              
			

              
            </div>
            <div class="modal-footer">
            <!--  <button type="button" id="apply" class="btn btn-primary btn-sm">Apply</button> -->
            </div>
          </div>
        </div>
      </div>
      
      
      

  </body>


  <script>

function selectfolder(sfolder){
  var folder=document.getElementById("folder");
  folder.setAttribute('value',sfolder);
  $('#myModal2').modal('hide')
}

          //Document Ready initiate DataTable - sort on Date  
          $(document).ready(function () {
              $('#dtDocuments').DataTable({
                "scrollY": "700px",
                "scrollCollapse": true,
                "bPaginate": false,
                "info": false,
                "scrollX": false,
                "order": [[ 2, "desc" ]]
          });
          $('.dataTables_length').addClass('bs-select');

          //TREEVIEW
          $('.treeview').mdbTreeview();

          //Iterator for Preview
          iterator={{iterator}};
          const $tableID = $('#dtDocuments');

          //PREVIEW on document ready
	  var td = $tableID.find('tr').eq(++iterator).children('td')[0];
	  id = $(td).hasClass('dataTables_empty') ? '' : td.innerHTML;

          console.log("PREVIEW", iterator, id);

          var embed=document.getElementById("embed");
          embed.setAttribute('src','./static/pdf/unknown/'+id);
          var edittitle=document.getElementById("edittitle");
          edittitle.setAttribute('value',id.slice(0,id.length-4));
          var oldtitle=document.getElementById("oldtitle");
          oldtitle.setAttribute('value',id); 
          var inputiterator=document.getElementById("inputiterator");
          inputiterator.setAttribute('value',iterator);

          //Table row clicked
          $tableID.on('click', 'tr', function (r) {
		var table = $tableID.DataTable();  
		row = $(this).closest('tr').index();
                console.log("TID", table.row(this).data()[0]);
                id = table.row(this).data()[0];
                //#console.log("ROW",row, iterator);
                $(this).parents('tr'); 
                //id=$(this).children('button').attr('id');
                var embed=document.getElementById("embed");
                embed.setAttribute('src','./static/pdf/unknown/'+id);
                var edittitle=document.getElementById("edittitle");
                edittitle.setAttribute('value',id.slice(0,id.length-4));
                var oldtitle=document.getElementById("oldtitle");
                oldtitle.setAttribute('value',id);
                var inputiterator=document.getElementById("inputiterator");
                inputiterator.setAttribute('value',row);
                iterator=row+1

          });

          //PREVIEW BUTTON clicked
          $tableID.on('click', '.table-view', function () {
          
                row=$(this).parents('tr').index();
                console.log("ROW",row, iterator);
                $(this).parents('tr'); 
                id=$(this).children('button').attr('id');
                var embed=document.getElementById("embed");
                embed.setAttribute('src','./static/pdf/unknown/'+id);
                var edittitle=document.getElementById("edittitle");
                edittitle.setAttribute('value',id.slice(0,id.length-4));
                var oldtitle=document.getElementById("oldtitle");
                oldtitle.setAttribute('value',id);
                var inputiterator=document.getElementById("inputiterator");
                inputiterator.setAttribute('value',row);
                iterator=row+1

          });


          //NEXT BUTTON clicked      
          var next=document.getElementById("next");
          next.onclick=function(){
                
                id = $tableID.find('tr').eq(++iterator).children('td')[0].innerHTML;
                console.log("NEXT", iterator, id);

                var embed=document.getElementById("embed");
                embed.setAttribute('src','./static/pdf/unknown/'+id);
                var edittitle=document.getElementById("edittitle");
                edittitle.setAttribute('value',id.slice(0,id.length-4));
                var oldtitle=document.getElementById("oldtitle");
                oldtitle.setAttribute('value',id);
                var inputiterator=document.getElementById("inputiterator");
                inputiterator.setAttribute('value',iterator);         
        
        };


      // MAGIC BUTTON click
      var magic=document.getElementById("magic");
      magic.onclick=function(){
          id = $tableID.find('tr').eq(iterator).children('td')[0].innerHTML;
          location.href = "/"+id; 
        };

        // ROTATE BUTTON click
      var rotate=document.getElementById("rotate");
      rotate.onclick=function(){
          id = $tableID.find('tr').eq(iterator).children('td')[0].innerHTML;
          location.href = "/rotate/"+id; 
        };

      var download=document.getElementById("download");
      download.onclick=function(){
          location.href = "./static/pdf/unknown/"+id; 
        };


         // DODEL BUTTON click
      var dodel=document.getElementById("dodel");
      dodel.onclick=function(){
          id = $tableID.find('tr').eq(iterator).children('td')[0].innerHTML;
          location.href = "/del/"+id; 
        };

});


  </script>


  {% endblock content %}
