<!DOCTYPE html>
<html lang="en">

<head>
  <title>PR PDF - Scan Documents Explorer</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="apple-mobile-web-app-title" content="PR-PDF" />
  <link rel="icon" type="image/png" href="/../static/favicons/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/../static/favicons/favicon.svg" />
  <link rel="shortcut icon" href="/../static/favicons/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/../static/favicons/apple-touch-icon.png" />
  
  <link rel="manifest" href="/../static/favicons/site.webmanifest" />

  <!-- Stylesheets for icons, fonts, and frameworks -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.0/css/mdb.min.css" rel="stylesheet" />
  <link href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" rel="stylesheet" />
  <link href="../static/main.css" rel="stylesheet" />

  <!-- JavaScript Libraries -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.0/js/mdb.min.js"></script>

  <!-- Loading overlay and ACE editor -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.11/ace.js" charset="utf-8"></script>
  <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.7/dist/loadingoverlay.min.js"></script>

  <!-- PDF.js styles and scripts -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/3.7.107/pdf_viewer.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/3.7.107/pdf.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/3.7.107/pdf_viewer.min.js"></script>
</head>

<body id="load">

  <header>
    <!-- Main navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light text-dark">
      <div class="container-fluid px-0">

        <!-- Hamburger menu for small screens -->
        <button
          class="navbar-toggler"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>

        <!-- Navbar brand and title -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <a class="navbar-brand" href="/">
            <i class="fas fa-file-pdf"></i> 
            PR PDF - Scan Documents Explorer
          </a>
           <button type="button" class="btn btn-primary btn-sm" id="btnUpload" data-toggle="modal" data-target="#uploadModal" data-placement="bottom" title="Upload a document">
            <i class="fas fa-trash"></i>
           </button>
        </div>

        <!-- Placeholder for dynamic messages -->
        {{ message }}

        <!-- Right side navigation icons -->
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
            <a
              class="nav-link"
              href="/autoscan"
              id="button_autoscan"
              data-toggle="tooltip"
              data-placement="bottom"
              title="Renew / Import new scans"
              ><i class="fas fa-sync"></i
            ></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/merge" data-toggle="tooltip" data-placement="bottom" title="Merge files">
              <i class="fas fa-caret-square-down"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/split" data-toggle="tooltip" data-placement="bottom" title="Split document">
              <i class="fas fa-cut"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/settings" data-toggle="tooltip" data-placement="bottom" title="Settings">
              <i class="fas fa-cog"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/maschhoff/prpdf/" target="_blank" rel="noopener noreferrer">
              <i class="fab fa-github"></i>
            </a>
          </li>
        </ul>

      </div>
    </nav>
  </header>

  <!-- Main content block for page-specific content -->
  {% block content %}{% endblock %}

  <!-- Delete Confirmation Modal -->
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="uploadModalLabel">Upload file?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label class="form-label" for="customFile">Choose file to upload</label>
        <input type="file" class="form-control" id="customFile" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
        <button type="button" id="btnConfirmDelete" class="btn btn-primary btn-sm">Upload</button>
      </div>
    </div>
  </div>
</div>


  <script>
    // Show loading overlay when autoscan button is clicked
    document.getElementById("button_autoscan").onclick = function () {
      $("#load").LoadingOverlay("show");
    };
  </script>
</body>

</html>
